@import "vue-select/dist/vue-select.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Outfit", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text);
  background-color: var(--bg2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-mute: #ada2c3;
  --text: #ededed;
  --primary-alt: #731f9a;
  --primary: #9e12de;
  --primary-light: #bb38f1;
  --primary-xtra-light: #e0aaff;
  --primary-dark: #9322c7;
    --primary-xtra-dark: #4a1b5e;
  --bg1: #28222c;
  --bg2: #312d38;
  --bg3: #3f374f;
  --bg4: #59506c;


  --vs-controls-color: var(--text-mute);
  --vs-border-color: var(--text);

  --vs-dropdown-bg: var(--bg2);
  --vs-dropdown-color: var(--text);
  --vs-dropdown-option-color: var(--text);

  --vs-selected-bg: var(--primary);
  --vs-selected-color: #eeeeee;

  --vs-search-input-color: #eeeeee;

  --vs-dropdown-option--active-bg: var(--primary-dark);
  --vs-dropdown-option--active-color: #eeeeee;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
}

code {
    font-family: 'Fira Code', 'Courier New', monospace;
    font-size: 0.9em;
    background-color: var(--bg1);
}

::selection {
  background-color: var(--primary);
  color: var(--text);
}

body {
  margin: 0;
  display: flex;
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  color: var(--text);
  font-family: 'Outfit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}


.bg-primary-alt {
  background-color: var(--primary-alt);
}

.color-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg1 {
  background-color: var(--bg1);
}

.bg2 {
  background-color: var(--bg2);
}

.bg3 {
  background-color: var(--bg3);
}

.bg4 {
  background-color: var(--bg4);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

::-webkit-scrollbar {
  display: none;
}

.text-mute {
  color: var(--text-mute);
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

code {
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
}

input[type="number"] {
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  width: 50px;
  height: 30px;
  padding: 0.2em 0.75em;
  background-color: var(--bg2);
  border: 1px solid transparent;
  transition: border-color 0.25s;
}


>>> {

}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  width: 100vw;
  max-width: 100vw;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  }
}
